/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


tr td, tr th{
  padding: 10px;
  border: 1px solid grey;
}
button{
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}