<app-forecast [forecasts]="forecasts"></app-forecast>

<!--<app-forecast-detail-view></app-forecast-detail-view>-->
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Kendo Grid List">
    <app-generic-kendo-grid [dataItem]="forecasts" [columns]="columns" (createUpdateDeleteForecast)="createUpdateDeleteForecast($event )"></app-generic-kendo-grid>
  </mat-tab>
  <mat-tab label="List">
    <app-forecast-list [forecasts]="forecasts" (forecastEmit)="openDialog($event)"></app-forecast-list>
  </mat-tab>
  <mat-tab label="Add">
    <app-forecast-add *ngIf="selectedIndex == 2" (addForecast)="addForecast($event)"></app-forecast-add>
  </mat-tab>
</mat-tab-group>
