
  <!--<form [formGroup]="formGroup">
    <div formArrayName="formArray">
      <div style="margin-top:5px; margin-bottom:5px;"
           *ngFor="let lines of form.get('formArray').controls; let j=index">
        <div [formGroupName]="j">
          <div class="form-group">
            <label style="margin-right:5px;" class="col-form-label" for="emailId">Address Line {{j + 1}}</label>
            <input formControlName="lines"
                   class="form-control"
                   style="margin-right:5px;"
                   type="email"
                   placeholder="Adress lines"
                   id="address"
                   name="address" />
          </div>
        </div>
      </div>
    </div>
  </form>

<h1>Form Array</h1>-->
