<div>
  <button style="background-color:royalblue; color: white"  (click)="addHero()">Add</button>
  <button style="background-color: red; color: white" (click)="deleteHero()">Remove</button>
</div>

<table>
  <thead >
    <tr>
      <th>
        Name
      </th>
      <th>
        Category
      </th>
    </tr>
  </thead>
  <tbody *ngIf="heros.length > 0; else norecord">
    <tr *ngFor="let hero of heros">
      <td>{{hero.name}}</td>
      <td>{{hero.category}}</td>

    </tr>
  </tbody>

</table>
<ng-template #norecord>
  No Records
</ng-template>