<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr class="row">
      <th class="col">Date</th>
      <th class="col">Temp. (C)</th>
      <th class="col">Temp. (F)</th>
      <th class="col">Summary</th>
      <th class="col">View</th>
    </tr>
  </thead>
  <tbody>
    <progress-spinner></progress-spinner>
    <app-forecast-detail-view [forecast]="forecast" *ngFor="let forecast of forecasts" (forecastEvent)="openDialog(forecast)"></app-forecast-detail-view>

    <!--<tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
      <td>
        <button mat-raised-button (click)="openDialog(forecast)">View Detail</button>
      </td>
    </tr>-->
  </tbody>
</table>
